services:
  pico_sdk:
    platform: linux/arm64
    image: ghcr.io/jeremu2907/pico_shared:latest
    network_mode: host
    volumes:
      - ./build:/root/app/build
      - ./pico_lib:/root/app/pico_lib
      - ./main.cpp/:/root/app/main.cpp:ro
      - ./CMakeLists.txt:/root/app/CMakeLists.txt
    
    # The following entry point copies the includes (*.h) simply for developer reference.
    # It has no effecct on the code
    entrypoint: >
      sh -c "mkdir -p /root/app/pico_lib/include && cp -r /root/pico_lib/include/ /root/app/pico_lib/include/ && sleep infinity"

